<button class="btn btn-primary" style="float: right; margin: 10px" (click)="logout()">
    Logout
</button>

<div class="container">
    <div class="header">
        <h5>Lab Reports</h5>
        <div class="list-row">
            <div class="col-md-12">
                <div class="input-group mb-3">
                    <input class="form-control" type="text" placeholder="Search here.." [(ngModel)]="filter" />
                </div>
            </div>
        </div>
    </div>

    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>LabReport Id</th>
                <th>Report Date</th>
                <th>Patient Name</th>
                <th>LabTechnician Name</th>
                <th>Doctor Name</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <!--Depends on where we read here we used view model to display-->
            <tr *ngFor="
          let testReport of testReportService.testReports
            | filter: filter
            | paginate: { itemsPerPage: 5, currentPage: page }
        ">
                <td>{{ testReport.TestReportId }}</td>
                <td>{{ testReport.ReportGeneratedDate }}</td>
                <td>{{ testReport.PatientName }}</td>
                <td>{{ testReport.LabTechnicianName }}</td>
                <td>{{ testReport.DoctorName }}</td>
                <td>
                    <button class="btn btn-sm btn-outline-danger" (click)="testReportService.deleteTestReport(testReport.TestReportId)">
                        X</button>&nbsp;
                    <button (click)="viewLabReport(empId,testReport.TestReportId)" class="btn btn-info"
                        style="margin-left: 10px">
                        View Record
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="footer">
        <!--pagenation-->
        <pagination-controls (pageChange)="page = $event"></pagination-controls>
    </div>
</div>