<div class="container">
    <div class="header">
        <h5>Employee Information</h5>
        <!--search-->
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Search here..." [(ngModel)]="filter" /><br />
            <!--<button (click)="['employee']" class="btn btn-primary">
          Add Employee
        </button>-->
            <br />
        </div>
    </div>
    <a [routerLink]="['../employee']" class="btn btn-primary">Add Employee</a>
    <br />
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Full Name</th>
                <th>Age</th>
                <th>MobileNo</th>
                <th>Gender</th>
                <th>Date of Joining</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="
            let emp of empService.employees
              | filter: filter
              | paginate: { itemsPerPage: 5, currentPage: page }
          ">
                <td (click)="populateForm(emp)">{{ emp.EmpId }}</td>
                <td (click)="populateForm(emp)">{{ emp.Name }}</td>
                <td (click)="populateForm(emp)">{{ emp.Designation }}</td>
                <td (click)="populateForm(emp)">
                    {{ emp.DateOfJoining | date: "dd-mm-yyyy" }}
                </td>
                <td>
                    <button class="btn btn-sm btn-outline-danger" (click)="deleteEmployee(emp.EmpId)">
                        X
                    </button>
                    <button (click)="updateEmployee(emp.EmpId)" class="btn btn-info" style="margin-left: 10px">
                        Edit
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="footer">
        <!--Pagination-->
        <pagination-controls (pageChange)="page = $event"></pagination-controls>
    </div>
</div>