<div class="container">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Login</h3>
        </div>
        <div class="panel-body">
          <form accept-charset="UTF-8" role="form">
            <fieldset>
              <div class="form-group">
                <input type="email" placeholder="Username" formControlName="UserName" autocomplete="off" required
                  class="form-control" />
              </div>
              <div *ngIf="isSubmitted && formControls.UserName.errors">
                <div *ngIf="formControls.UserName.errors.required" style="color: red">
                  username is required.
                </div>
              </div>
              <div class="form-group">
                <input type="password" placeholder="Password" formControlName="Password" autocomplete="off" required
                  class="form-control" />
              </div>
              <div *ngIf="isSubmitted && formControls.Password.errors">
                <div *ngIf="formControls.Password.errors.required" style="color: red">
                  Password is required.
                </div>
              </div>
              <div>
                <br />
                <button type="submit" class="btn btn-lg btn-success btn-block">
                  <i class="fa fa-sign-in"></i> Login
                </button>
              </div>
              <div *ngIf="error" style="color: red">
                {{ error }}
              </div>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>