<form name="patientform" #form="ngForm" autocomplete="off" (ngSubmit)="onSubmit(form)">

    <!--Patient Id-->
    <input type="" name="PatientId" [(ngModel)]="patientService.formData.PatientId" />

    <!--Patient Name-->
    <div class="form-group">
        <label>Patient Name:</label>
        <input name="PatientName" #PatientName="ngModel" [(ngModel)]="patientService.formData.PatientName"
            class="form-control" placeholder="Enter Patient Name" minlength="1" maxlength="25" required
            [ngClass]="{'is-invalid': PatientName.touched && PatientName.invalid}" />
        <div class="validation-error" *ngIf="PatientName.touched && PatientName.invalid">
            <div *ngIf="PatientName.errors.required">Patient name required</div>
        </div>
    </div>