<header>
    <div class="container">
        <h5>Welcome :{{loggedUserName}}</h5>
    </div>
    <nav>
        <ul class="nav"> 
            <li class="nav-item">
                <a class="nav-link"href="#" routerLink='../paymentlist'><i class="fa fa-check"></i>Payment details</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"href="#" routerLink='../payment'>Add payment</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"href="#" (click)="logOut()">  Log out</a> 
                        </li>
        </ul>
    </nav>
</header>

