<header>
    <div class="container">
        <h5>Welcome : {{loggedUserName}}</h5>
    </div>
    <nav>
        <ul class="nav"> 
            <li class="nav-item">
                <a class="nav-link"href="#" routerLink='../patient'><i class="fa fa-sign-in"></i>Register Patient</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"href="#" routerLink='../patientlist'><i class="fa fa-sign-in"></i>Patient Info</a>
                    </li>

            <li class="nav-item">
                <a class="nav-link"href="#" routerLink='../paymentlist'><i class="fa fa-clipboard"></i>Payment details</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"href="#" routerLink='../payment'><i class="fa fa-edit"></i>Add payment</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"href="#" (click)="logOut()">  Log out</a> 
                        </li>
        </ul>
    </nav>
</header>

