<div>
  <br />
  <header id="nav-wrapper">
    <div class="container highlightTextIn">
      <img class="logo" src="../../assets/images/cmsapp2.jpg" alt="CMSApp" />
      <a alt="LOGIN" href="../login">LOGIN</a>
      <a alt="CONTACT">CONTACT</a>
      <a alt="ABOUT">ABOUT</a>
      <a alt="ARTICLES">ARTICLES</a>
      <a alt="HOME">HOME</a>
    </div>
  </header>
</div>

<div class="body">
  <div>
    <router-outlet></router-outlet>
  </div>
</div>
<div class="footer">
  <div class="container">
    <span><a href="#">All rights reserved 2021 @CMSApp v2021</a></span>
  </div>
</div>
