<header>
  <div class="container">
    <h4>Welcome {{ loggedUserName }} !</h4>
  </div>
  <br />
  <nav>
    <ul class="nav">
      <li class="nav-item">
        <a class="btn btn-outline-primary" href="../employee">Add Employee</a>
      </li>

      <li class="nav-item">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a
          class="btn btn-outline-primary"
          href="../employeelist"
          >View Employee</a
        >
      </li>

      <li class="nav-item">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a
          class="btn btn-outline-primary"
          (click)="logout()"
          >Logout</a
        >
      </li>
    </ul>
  </nav>
</header>
