<div class="container">
    <div class="header">
        <h5>Patient Info</h5>
        <div class="list-row">
            <div class="col-md-12">
                <div class="input-group mb-3">
                    <input class="form-control" type="text" placeholder="Search here.." [(ngModel)]="filter">
                </div>
            </div>
        </div>

    </div>


    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Patient Id</th>
                <th>Patient Name</th>
                <th>Age</th>
                <th>Mobile Number</th>
                <th>Gender</th>
                <th>Appointment Date</th>
                <th>Apointment Status</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <!--Depends on where we read here we used view model to display-->
            <tr
                *ngFor="let patient of doctorService.patients  | filter : filter| paginate: {itemsPerPage:5, currentPage:page}">
                <td>{{patient.PatientId}}</td>
                <td>{{patient.PatientName}}</td>
                <td>{{patient.Age}}</td>
                <td>{{patient.MobileNo}}</td>
                <td>{{patient.Gender}}</td>
                <td>{{patient.AppointmentDate | date: 'dd-MM-yyyy'}}</td>
                <td>{{patient.AppointmentStatus}}</td>
                <td>
                    <button class="btn btn-sm btn-outline-danger "
                        (click)="DeleteAppointment(patient.AppointmentId)">X</button>&nbsp;
                    <button (click)="AddPrescription(patient.PatientId, patient.AppointmentType)" class="btn btn-info"
                        style="margin-left: 10px">Add Prescription</button>
                    <button (click)="ViewLabResults(patient.AppointmentId)" class="btn btn-info"
                        style="margin-left: 10px">Lab Results</button>
                </td>
            </tr>
        </tbody>

    </table>
    <div class="footer">
        <!--pagenation-->
        <pagination-controls (pageChange)="page=($event)"></pagination-controls>
    </div>
</div>