<form
  name="paymentform"
  #form="ngForm"
  autocomplete="off"
  (ngSubmit)="onSubmit(form)"
>
<button class="btn btn-primary" [routerLink]="['../receptionist']">Home</button>
  <!--Payment Id-->
  <input
    type="hidden"
    name="PaymentId"
    [(ngModel)]="payService.formData.PaymentId"
  />

  <!--Payment-->
  <div class="form-group">
    <label>Total Amount :</label>
    <input
      name="Amount"
      #Amount="ngModel"
      [(ngModel)]="payService.formData.Amount"
      class="form-control"
      placeholder="Enter Total Amount"
      minlength="1"
      maxlength="25"
      required
      [ngClass]="{ 'is-invalid': Amount.touched && Amount.invalid }"
    />
    <div class="validation-error" *ngIf="Amount.touched && Amount.invalid">
      <div *ngIf="Amount.errors.required">Amount required</div>
    </div>
  </div>

  <!--PatientName-->
  <div class="form-group">
    <label class="col-md-4">Patient Name:</label>
    <select class="form-control" name="PatientId" id="PatientId" #PatientId="ngModel"
        [(ngModel)]="payService.formData.PatientId" required>
        <option  >Choose a Patient</option>
        <option *ngFor="let p of payService.patients" 
        value="{{p.PatientId}}">{{p.PatientName}}</option>
    </select>
    <div class="validation-error" *ngIf="PatientId.touched && PatientId.invalid">
        <div *ngIf="PatientId.errors.required">PatientId is required</div>
    </div>
</div>


  <!--Date of payment generation-->
  <br />
  <div class="form-group">
    <label>Date of joining:</label>
    <input
      type="date"
      class="form-control"
      name="PaymentDate"
      #PaymentDate="ngModel"
      [(ngModel)]="payService.formData.PaymentDate"
      required
      [ngClass]="{
        'is-invalid': PaymentDate.touched && PaymentDate.invalid
      }"
    />
    <div
      class="validation-error"
      *ngIf="PaymentDate.touched && PaymentDate.invalid"
    >
      <div *ngIf="PaymentDate.errors.required">Date of payment is required</div>
    </div>
  </div>

  <!--Submit button-->
  <br />
  <div class="form-group">
    <button
      type="submit"
      [disabled]="!(form.valid && form.dirty)"
      class="btn btn-primary form-control"
    >
      Submit
    </button>
  </div>
</form>
